# Virtual environment
med_im_env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build artifacts
docs/_build/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE/Editor files
.DS_Store

instructions.pdf
instructions.md
constraints.md

